a {
    color: white;
 }
 
 
 .resource-link {
    padding: 2%;
 }
 
 .resources-title {
    font-size: 3rem;
    text-align: center;
    color: white;
    margin-top: 10px;
    padding-top: 10%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
 }
 